<div class="w-full flex-1 flex flex-col items-center">
  <div class="w-full flex flex-col justify-between flex-1 items-center">
    <div class="w-full max-w-[500px] text-center bg-white px-10 py-4">
      <div class="text-lg md:text-xl font-bold pb-2 px-4 select-none">About Me</div>
      <div class="text-base md:text-lg text-left font-semibold py-2 text-zinc-500 px-4 select-none">
        I'm a software developer employed in Nuremberg, Germany, living in Tönisvorst.
        I studied mathematics in Siegen and Düsseldorf and have been working as a software developer since 2020.
      </div>
      <div class="text-base md:text-lg text-left font-semibold py-2 text-zinc-500 px-4 select-none">
        Next to mathematics and software development, my interests include illustration, music, and game design.
        Blending these fields into personal projects is one of my favorite things — right after time with my people and dogs.
      </div>
    </div>
    <app-desk-scene></app-desk-scene>
  </div>
</div>
