<div class="w-full flex flex-col items-center overflow-hidden">
  <div class="w-full flex flex-col justify-between items-center">
    <!-- Text -->
    <div class="w-full max-w-[500px] text-center bg-white px-10 pb-16">
      <div class="text-lg md:text-xl font-bold pb-2 px-4 select-none">About Me</div>
      <div class="text-base md:text-lg text-left font-medium py-2 text-zinc-500 px-4 select-none">
        I'm a software developer employed in Nuremberg, Germany, living in Tönisvorst.
        I studied mathematics in Siegen and Düsseldorf and have been working as a software developer since 2020.
      </div>
      <div class="text-base md:text-lg text-left font-medium py-2 text-zinc-500 px-4 select-none">
        Next to mathematics and software development, my interests include illustration, music, and game design.
        Blending these fields into personal projects is one of my favorite things — right after time with my people and
        dogs.
      </div>
    </div>
    <div class="w-full h-full flex flex-col justify-end"
         (pointermove)="onPointerMove($event)"
         (pointerup)="onPointerUp()"
         (pointerleave)="onPointerUp()"
         #deskWrapper
    >
      <div class="relative left-1/2 -translate-x-1/2" [style.width.px]="deskWidth">
        <!-- Tischfläche -->
        <div
          class="bottom-0 h-[200px] z-0"
          #desk
        >
          <!-- Desk Image -->
          <img src="svg/about/divider.svg"
               class="absolute left-1/2 -translate-x-1/2 min-w-[850px] pointer-events-none"
               alt="divider">
          <!-- Buttons -->
          <div *ngIf="!isTouchUser" class="absolute right-28 bottom-[200px] flex flex-col w-16 gap-2 z-50 text-sm">
              <img (click)="toggleEditMode()" [src]="isEditMode ? 'svg/about/lock.svg' : 'svg/about/move.svg'"
                   class="inline-block w-16 h-16 hover:scale-110 transition-all duration-200"
                   alt="Edit Icon">
          </div>

          @for (item of items; track item.id; let i = $index) {
            <img #item
                 [src]="getImageSrc(item)"
                 [style.left.px]="getScreenX(item.x!)"
                 [style.top.px]="item.y"
                 class="absolute z-10 cursor-pointer select-none -translate-x-1/2"
                 (pointerdown)="onPointerDown($event, item.id)"
                 (mouseenter)="focus(item, $event)"
                 (mouseleave)="unfocus()"
                 (click)="cycleState($event, item)"
            />
          }
        </div>
        <div
          *ngIf="hoveredTooltip"
          [id]="'tooltip-box'"
          class="absolute pointer-events-none -translate-x-1/2 z-50 px-3 py-1 text-sm rounded-lg text-white bg-black shadow"
          [style.left.px]="getScreenX(hoveredTooltip.x)"
          [style.top.px]="hoveredTooltip.y"
        >
          {{ hoveredTooltip.text }}
          <svg class="absolute left-1/2 -translate-x-1/2 -bottom-2" width="20" height="10" viewBox="0 0 20 10">
            <polygon points="0,0 10,10 20,0" fill="black"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
