.fancy-hand{
  width: 100%;
  position: relative;
  z-index: 1;

  * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .min-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
    max-height: 20%;
  }

  .hand-image {
    height: 90%;
    z-index: 1;
    rotate: 0;
  }

  .hand-image-eyes {
    height: 7.5%;
    transform: translate(-70%, 25%);
    z-index: 1;
  }

  .hand-image-mouth {
    height: 8%;
    transform: translate(-85%, 30%);
    z-index: 1;
  }
}

.visible {
  opacity: 1;
}
