<div class="fancy-hand w-[320px] sm:w-[450px] md:w-[350px] lg:w-[490px] h-[320px] sm:h-[450px] md:h-[350px] lg:h-[490px]" >
  @for (item of minImages; track $index; let i = $index) {
    <img
      [src]="item.path"
      [alt]="item.alt"
      class="min-image"
      [style]="itemPositions[i]"
    />
  }

  <img class="hand-image" src="images/StartSection/hand.png" alt="Hand" />
  <img class="hand-image-eyes" [src]="blink ? 'images/StartSection/eyes_closed.png' : 'images/StartSection/eyes_open.png'" alt="handImageEyes" />
  <img class="hand-image-mouth" [src]="closeMouth ? 'images/StartSection/mouthClosed.png' : 'images/StartSection/mouthOpen.png'" alt="handImageMouth" />
</div>
