<div
  class="w-full h-[300px] flex flex-col-reverse"
  #deskWrapper
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp()"
  (pointerleave)="onPointerUp()"
>
  <!-- Tischfläche -->
  <div
    class="relative bottom-0 left-1/2 -translate-x-1/2 h-[200px] bg-[#e4d6bc] z-0 "
    [style.width.px]="deskWidth"
  >
    <!-- Buttons -->
    <div class="absolute right-4 bottom-4 flex flex-row gap-2 z-50">
      <button
        (click)="toggleEditMode()"
        class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700 transition"
      >
        {{ isEditMode ? 'Edit-Modus beenden' : 'Edit-Modus starten' }}
      </button>

      <button
        (click)="resetPositions()"
        class="bg-gray-300 text-black px-4 py-2 rounded shadow hover:bg-gray-400 transition"
      >
        Positionen zurücksetzen
      </button>

      <button (click)="logCurrentPositions()" class="px-4 py-2 bg-green-500 text-white rounded">
        Positionen loggen
      </button>
    </div>
    <!-- Elemente -->
    @for (item of items; track item.id; let i = $index) {
      <img #item
           [src]="'images/about/' + item.id + '.png'"
           [style.left.px]="getScreenX(item.x!)"
           [style.top.px]="item.y"
           [style.width.px]="item.width"
           class="absolute z-10 cursor-pointer select-none -translate-x-1/2 -translate-y-1/2"
           (pointerdown)="onPointerDown($event, item.id)"
      />
    }
  </div>

</div>
