<div class="pb-24 flex items-center justify-center flex-col">
  <div class="w-full px-4 lg:max-w-[980px] justify-start items-center flex flex-1 flex-col flex-nowrap">
    <div class="flex flex-col md:px-4">
      <div class="flex-1 flex flex-col items-center justify-center px-4">
        <div class="relative w-[300px] h-[320px]">
          <img src="images/contact/me.png" class="absolute top-[36px] left-[54px] w-[200px] z-10" alt="Me">
          <img src="svg/contact/polaroid.svg" class="absolute -top-[24px] left-0 w-[300px] z-20 pointer-events-none">
        </div>
        <div class="text-[2rem] md:text-[2.2rem] font-semibold pb-2 px-4">Any questions?</div>
        <div class="text-base md:text-[1.1rem] text-center font-medium text-zinc-500 px-4 pb-2">
          Or would you like to know more? <br/> Then feel free to
        </div>
        <div class="group text-[1.7rem] font-semibold  transition-all duration-200 relative h-[100px] w-[300px] flex items-center justify-center">
          <a href="mailto:mail@joscco.com" class="w-full h-full flex items-center justify-center relative">
            <img src="svg/contact/bubble.svg" class="absolute top-0 -z-10 pointer-events-none transition-all duration-200 fill-black group-hover:fill-neutral-400" alt="bubble">
            <img src="svg/contact/letter.svg" class="absolute top-4 left-[200px] z-0 pointer-events-none transition-all duration-200 fill-white group-hover:fill-black" alt="letter">
            <div class="absolute top-5 left-[55px] text-white transition-all duration-200 ">Contact Me</div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
