<div class="w-full flex flex-row gap-3 p-4 justify-end items-center">
  <a href="https://www.instagram.com/joscco96" target="_blank" rel="noopener noreferrer">
    <img src="svg/logos/logo_insta.svg" alt="LinkedIn Logo" class="w-8 h-8">
  </a>
  <a href="https://github.com/joscco" target="_blank" rel="noopener noreferrer">
    <img src="svg/logos/logo_github.svg" alt="GitHub Logo" class="w-8 h-8">
  </a>
  <a href="https://x.com/joscco96" target="_blank" rel="noopener noreferrer">
    <img src="svg/logos/logo_x.svg" alt="X Logo" class="w-8 h-8">
  </a>
  <a href="https://de.linkedin.com/in/jonathan-neuser-schmitz-23b344234" target="_blank" rel="noopener noreferrer">
    <img src="svg/logos/logo_linkedin.svg" alt="Linkedin Logo" class="w-8 h-8">
  </a>
  <a href="https://joscco.itch.io/" target="_blank" rel="noopener noreferrer">
    <img src="svg/logos/logo_itch.svg" alt="Itch.io Logo" class="w-8 h-8">
  </a>
</div>
